:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light: #F1F5F7;
  --basic-light-opacity: rgb(241, 245, 247, 0.5);
  --basic-white-border: #EAEAEA;
  --basic-border-white: #E5E5E5;
  --basic-logo-inset: rgba(0, 0, 0, 0.24);
  --basic-extra-light: rgba(0, 0, 0, 0.0001);
  --basic-lighten-dark: #161D29;
  --basic-lighten-black: #1D2739;
  --basic-beige: #F9F5F0;
  --basic-lighten-beige: #F3F7F9;
  --basic-beige-caption: #F2F6F8;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-red: #EE3643;
  --basic-darken-red: #CA2C37;
  --basic-heavy-red: #BA2732;
  --basic-dark: #32425C;
  --basic-extra-dark: #293449;
  --basic-hover-grey: #3d546f;
  --basic-grey: rgba(255, 255, 255, 0.5);
  --basic-greylight: #C5C5C5;
  --basic-greylight-opacity: rgb(197, 197, 197, 0.3);
  --basic-darken-grey: #A9A9A9;
  --basic-grey-opacity: rgb(169, 169, 169, 0.3);
  --basic-green: #63A63E;
  --basic-lighten-green: #5FBB2D;
  --basic-darken-green: #518534;
  --basic-lime: #8ED78F;
  --basic-lighten-lime: #63A63E;
  --basic-lime-hover: #367315;
  --basic-yellow: #FFD180;
  --basic-yellow-opacity: rgb(255, 209, 128, 0.5); 
  --basic-yellow-lighten: #FFBF47;
  --basic-amber: #FFC047;
  --basic-background: #888888;
  --basic-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  
}

.page-body {
  min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial ,sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-background);
  color: var(--basic-white);
}

.page {
  height: 100%;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* header */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

/* header-top-wrapper */

.header-top-container {
  background-color: var(--basic-extra-dark);
}

.header-top-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-template-rows: 42px;
}

.markers,
.basket,
.basket-full,
.ordering {
  color: var(--basic-white);
}

.markers,
.basket {
  position: relative;
}

.markers::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 2px;

  width: 14px;
  height: 16px;
  background-image: url("../img/bookmark-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 2px;

  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logo-site {
  margin: 0;
  margin-right: 10px;
}

.logo-site img {
  padding: 12px 57px 17px 55px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-logo-inset);
}

.logo-site img:active {
  background-color: var(--basic-heavy-red);
}

.basket-full {
  background-color: var(--basic-red);

  padding: 9px 25px;
}

.ordering {
  padding: 9px 16px 9px 19px;
  margin: 0;

  background-color: var(--basic-green);
}

.ordering:hover {
  background-color: var(--basic-lighten-green);
}

.ordering.active {
  background-color: var(--basic-green);
}

.markers,
.basket {
  padding: 9px 25px;
}

.markers:active,
.basket:active {
  background-color: var(--basic-lighten-dark);
}

.markers:active,
.basket:active,
.ordering:active {
  color: var(--basic-grey);
}

/* header-middle-wrapper */ 

.header-bottom-container {
  background-color: var(--basic-light);

  padding-bottom: 60px;
}

.header-middle-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 158px;
  align-items: center;
}

.description-paragraph {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  padding-left: 30px;
  color: var(--basic-red);
}

.phone-number {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-red);
  line-height: 30px;
  border: 3px solid #FFFFFF;
  background-color: var(--basic-lighten-beige);

  padding: 7px 45px 8px 74px;
}

.contact-box {
  margin-top: 27px;
  margin-left: 5px;
}

.location {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark);

  padding-left: 12px;
}

.my-orders,
.personal-area {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-dark);
}

.log-in {
  position: relative;
  padding: 12px 27px 12px 45px;
}

.log-in::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 16px;

  width: 20px;
  height: 17px;

  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.registration {
  padding: 12px 24px;
}

.log-in,
.registration,
.username {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.log-in:hover,
.log-in:focus,
.registration:hover,
.registration:focus,
.my-orders:hover,
.my-orders:focus,
.personal-area:hover,
.personal-area:focus {
  color: var(--basic-red);
}

.log-in:active,
.registration:active,
.username:active,
.my-orders:active,
.personal-area:active {
  color: var(--basic-greylight);
}

/* header-bottom-wrapper */

.header-bottom-wrapper {
  display: grid;
  grid-template-rows: 60px;
}

.header-bottom-wrapper .navigation-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.site-navigation {
  background-color: var(--basic-dark);
  box-shadow: inset 0px -5px 0px var(--basic-extra-dark); 
}

.navigation-list {
  list-style: none;
}

.navigation-list-item a {
  color: var(--basic-white);
}

.navigation-list-item a:hover,
.navigation-list-item a:focus {
  background-color: var(--basic-extra-dark);
}

.navigation-list-item a:active {
  opacity: 0.5;
  background-color: var(--basic-lighten-black);
}

.login-box {
  justify-self: end;
}

.login-container {
  display: grid;
  grid-template-rows: auto auto;
}

/* promo */

.promo {
  background-color: var(--basic-beige); /* Добавил цвет временно, чтобы было видно цвет заголовка слайдера */

  padding-top: 40px;
  padding-bottom: 60px;
}

.promo-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.assortment-item:first-of-type {
  background-color: var(--basic-yellow-lighten);
}

.assortment-item:nth-of-type(2) {
  background-color: var(--basic-blue);
}

.assortment-item:nth-of-type(3) {
  background-color: var(--basic-pink);
}

.assortment-item:nth-of-type(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  background-color: var(--basic-lime);
}

.assortment-item:nth-of-type(5) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  background-color: var(--basic-amber);
}


.assortment-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.assortment-item a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: var(--basic-white-opacity);
}

.assortment-item a:hover,
.assortment-item a:focus {
  background-color: var(--basic-greylight-opacity);
}

.assortment-item a:active {
  background-color: var(--basic-grey-opacity);
}

/* catalog-container */

.catalog-container {
  background-color: var(--basic-white);
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

/* breadcrumps */

.breadcrumps-container {
  background-color: var(--basic-white);

  padding-bottom: 20px;
}

.breadcrumps-wrapper {
  display: grid;
  grid-template-rows: auto auto;
}

.breadcrumps {
  display: flex;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.breadcrumps-item {
  padding-right: 40px;
}

.breadcrumps-item,
.breadcrumps-item a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--basic-black);
}

.heading-product {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
  background-color: var(--basic-beige-caption);

  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  margin: 0;
}

/* sorting */

.sorting {
  display: grid;
  grid-template-columns: auto 1fr auto auto;

  margin-bottom: 28px;
}

.sorting-caption,
.sorting-list-links a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting-caption {
  color: var(--basic-black);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.sorting-list-links a {
  color: var(--basic-black-opacity);
  text-decoration-line: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: dotted;
}

.sorting-list-links a:hover,
.sorting-list-links a:focus {
  color: var(--basic-black);
  text-decoration-line: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: solid;
}

.sorting-list-links .sorting-parameter-price,
.sorting-list-links a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* slider */

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.slider h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.open-catalog {
  padding: 11px 46px 9px 46px;
}

.promo-text {
  font-size: 18px;
  line-height: 24px;
}

.link-style {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  align-items: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.link-style:hover,
.link-style:focus {
  background-color: var(--basic-darken-red);
}

.link-style:active {
  background-color: var(--basic-heavy-red);
}

/* popular-products, product-list */

.popular-products {
  background-color: var(--basic-white);

  padding-bottom: 70px;
}

.popular-products-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;

  background-color: var(--basic-white);
}

.popular-products-container h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
  background-color: var(--basic-beige);

  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
  margin: 0;
  margin-bottom: 20px;
}

.popular-products-container .link-style {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 1;
}

.popular-list,
.product-list,
.pagination-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.pagination-list {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 10px;

  margin-bottom: 59px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 18px;
  margin-bottom: 48px;
}

.popular-list {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
}

.popular-list-item:not(:last-child) {
  margin-right: 20px;
}

.popular-list-item,
.product-list-item {
  width: 220px;

  background: var(--basic-white);
  border: 1px solid var(--basic-white-border);
  box-sizing: border-box;
}

.popular-list-item:hover,
.popular-list-item:focus,
.product-list-item:hover,
.product-list-item:focus {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.name-popular-product,
.product-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-darken-grey);
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.popular-item-hover button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  border: none;
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--basic-lime-hover);
}

.buy:hover,
.buy:focus {
  background-color: var(--basic-lighten-green);
}

.buy:active {
  background-color: var(--basic-darken-green);
}

.bookmarks {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border-radius: 2px;
  border: 1px solid var(--basic-lighten-lime);
}

.bookmarks:hover,
.bookmarks:focus {
  border-color: var(--basic-dark);
}

.bookmarks:active {
  opacity: 0.5;
}

.pagination-list-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-border-white);
  border-radius: 2px;
  padding: 10px 15px;
  display: inline-block;
}

.pagination-list-item a:hover,
.pagination-list-item a:focus {
  border: 1px solid var(--basic-greylight);
}

.pagination-list-item a:active {
  border: 1px solid var(--basic-red);
  color: var(--basic-black);
}

.pagination-list-item:first-of-type a {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

/* about-tools */

.about-tools {
  background-color: var(--basic-light);
}

.about-tools-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.about-tools-caption {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;

  margin: 0;
  margin-top: 64px;
  margin-bottom: 25px;
}

.about-tools-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);

  margin: 0;
  margin-bottom: 65px;
}

/* popular-manufacturers */

.popular-manufacturers {
  background-color: var(--basic-white);

  padding-bottom: 50px;
}

.popular-manufacturers-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;

  background-color: var(--basic-white);
}

.popular-manufacturers-container h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
  background-color: var(--basic-beige);

  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
  margin: 0;
  margin-bottom: 20px;
}

.popular-manufacturers-container .link-style {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 1;
}

.list-manufacturers {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin: 0;
  padding: 0;
}

.manufacturers-list-item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.manufacturers-list-item {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  box-sizing: border-box;

  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-border);
}

.manufacturers-list-item:hover,
.manufacturers-list-item:focus {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

/* services */

.services {
  background-color: var(--basic-light);

  padding-bottom: 116x;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: auto auto;
}

.services-container h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.service-text,
.service-description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services-list {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  list-style: none;
  margin: 0;
  padding: 0;
}

.service-box {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.service-box h2 {
  margin-top: 64px;
  margin-bottom: 25px;
}

.service-box p {
  margin: 0;
  margin-bottom: 67px;
}

.services-list-item {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services-list-item:hover,
.services-list-item:focus {
  background-color: var(--basic-extra-dark);
}

.services-list-item:active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.service-description h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);

  margin: 0;
  margin-bottom: 30px;
}

.service-description:nth-of-type(2) {
  grid-column: 5 / -1;
  grid-row: 2 / 3;
}

.service-description:nth-of-type(n+3){
  display: none;
}

.service-description p {
  margin: 0;
  padding-bottom: 125px;
}

/* index-columns */

.index-columns-container {
  background-color: var(--basic-white);
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

/* about-company contancts */

.about-company-division {
  width: 460px;
}

.contacts {
  width: 300px;
}

.about-company-division h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);

  margin: 0;
  margin-top: 70px;
  margin-bottom: 24px;
}

.about-company-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);

  margin: 0;
}

.about-company-text + .about-company-text {
  margin-top: 25px;
}

.companies-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.companies-list-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);

  margin: 0;
  margin-bottom: 15px;
}

.companies-list-item p {
  margin: 0;
  margin-bottom: 15px;
}

.companies-list-item:last-child p {
  margin-bottom: 20px;
}

.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  
  margin: 0;
  margin-bottom: 32px;
}

.more-info {
  display: inline-block;
  padding: 11px 40px 9px 40px;
  margin-bottom: 70px;;
}

.navigation-map {
  display: inline-block;
  margin-bottom: 25px;
}

.send-us {
  display: inline-block;
  padding: 11px 61px 9px 61px;
}

/* footer */

.main-footer {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.footer-top-container,
.footer-middle-container {
  background-color: var(--basic-dark);
}

.footer-top-container {
  padding-bottom: 22px;
}

.footer-bottom-container {
  background-color: var(--basic-extra-dark);
}

/* footer-top-wrapper */

.footer-top-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.footer-logo img {
  padding: 20px 41px 45px 41px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-logo-inset);
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;

  margin: 0;
  padding: 0;
}

.footer-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light); 
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
  text-decoration-line: underline;
}

.footer-navigation-item a:active {
  color: var(--basic-light-opacity);
  text-decoration: none;
}

/* footer-middle-wrapper */

.footer-middle-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;

  padding-bottom: 54px;
}

.adress {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: var(--basic-light); 
}

.footer-products-list {
  display: flex;
  justify-content: space-between;
  list-style: none;

  margin: 0;
  padding: 0;
}

.footer-products-item a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-yellow); 
}

.footer-products-item a:hover,
.footer-products-item a:focus {
  text-decoration-line: underline;
}

.footer-products-item a:active {
  color: var(--basic-yellow-opacity);
  text-decoration: none;
}

/* footer-bottom-wrapper */

.footer-bottom-wrapper {
  display: grid; 
  grid-template-columns: repeat(3, auto);

  padding: 35px 0;
}

.copyright,
.feedback-text,
.feedback-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social-list {
  display: flex;
  justify-content: space-between;
  max-width: 140px;
  list-style: none;
  
  margin: 0;
  padding: 0;
}

.feedback-link {
  color: var(--basic-yellow);
}

.feedback-link:hover,
.feedback-link:focus {
  text-decoration: underline;
}

.feedback-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

